.leave:hover, .el:hover, .menu-burger:hover, .img-search:hover, .basket:hover, .popup-basket img:hover {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
}
main {
    background: #EBEBD3;
    min-height: 100vh;
}
header {
    background: darkred;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 40px;
}
header img {
    width: 80px;
    height: 80px;
}
.card:hover {
    cursor: pointer;
}
.search-area input {
    width: 40vw;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    outline: none;
}
.search-area button {
   background: none;
   border: none;
}
.search-area {
    display: flex;
    align-content: center;
    align-items: center;
}
.img-search {    
    width: 40px;
    height: 40px;
    margin-left: -100px;
    outline: none;
}
.menu-burger {
    width: 50px;
    height: 50px;
}
.basket-area {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
.popup-basket {
    position: absolute;
    background: white;
    padding: 10px 30px;
    top: 122px;
}
.popup-basket p {
    display: flex;
}

.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.popup {
    background: darkred;
    position: fixed;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    text-align: center;
    color: white;
}

.card {
    width: 20%;
    background: darkred;
    text-align: center;
    color: white;
    font-family: helvetica;
    text-transform: uppercase;
    margin: 20px;

}
.el {
    position: relative;
}
.add-img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
}
.card .thumb {
    width: 100%;
    height: auto;
}
.delete {
    width: 20px;
    height: 20px;
}